<a href="https://colab.research.google.com/github/Sauravism/faker/blob/main/Fake_DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using the Python - Faker Librray -
https://pypi.org/project/Faker/

In [59]:
pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.10/dist-packages (18.13.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [3]:
from faker import Faker
fake = Faker()

In [4]:
fake.name()

'Heather Stewart'

In [5]:
fake.address()

'1136 Richard Plains\nLake Lindamouth, MO 83687'

In [6]:
fake.job()

'Jewellery designer'

In [7]:
fake.phone_number()

'(519)628-7056x42104'

In [8]:
fake.text()

'Outside two record operation. Agree kind prove car table hear.\nJust assume somebody every evening decision seven become. Return land quality wall unit find provide by. Almost lot itself still.'

In [36]:
fake.date_time()

datetime.datetime(1992, 12, 30, 8, 21, 36)

If we want to generate Region specific Fake Details then --

In [41]:
fake1 = Faker("en_IN")

In [42]:
fake1.name()

'Ela Edwin'

In [43]:
fake1.address()

'61/79, Agate Chowk, Panvel-004315'

In [44]:
fake1.date()

'1979-06-04'

In [45]:
fake1.date_between(start_date ='today', end_date = '+4d')

datetime.date(2023, 7, 11)

Python has a random package that can be used to generate fake numbers

In [52]:
# importing all the necessary packages
from faker import Faker
import random
import pandas as pd
Faker.seed(0)  # Setting a seed(0) means everytime we run this code the same fake value will be generated
random.seed(0)
fake = Faker("en_IN")

In [54]:
# Here we are initializing 5 empty lists
name, city_name, country, job, age = [[] for k in range(0,5)]

In [55]:
for row in range(0,100):
  name.append(fake.name())
  city_name.append(fake.city_name())
  country.append(fake.country())
  job.append(fake.job())
  age.append(random.randint(20,100))

d = {"Name": name, "Age": age, "City": city_name, "Country": country, "Job": job}
df = pd.DataFrame(d)
df.head()

                Name  Age          City   Country                       Job
0         Tara Walia   69         Bidar  Barbados            Futures trader
1  Yuvaan Srinivasan   73         Avadi     Qatar        Materials engineer
2      Dishani Boase   25  Ichalkaranji      Cuba            Chief of Staff
3       Hazel Sastry   53   Madanapalle    Cyprus  Insurance claims handler
4      Samiha Bansal   85      Bathinda     Palau        Surveyor, minerals

In [57]:
df

,Name,Age,City,Country,Job
0,Tara Walia,69,Bidar,Barbados,Futures trader
1,Yuvaan Srinivasan,73,Avadi,Qatar,Materials engineer
2,Dishani Boase,25,Ichalkaranji,Cuba,Chief of Staff
3,Hazel Sastry,53,Madanapalle,Cyprus,Insurance claims handler
4,Samiha Bansal,85,Bathinda,Palau,"Surveyor, minerals"
...,...,...,...,...,...
95,Zain Badami,39,Pudukkottai,Portugal,Nature conservation officer
96,Badal Bedi,24,Chittoor,Czech Republic,Advertising account planner
97,Kismat Ranganathan,30,Mira-Bhayandar,Zambia,Jewellery designer
98,Rati Maharaj,89,Sri Ganganagar,Finland,Music therapist
99,Faiyaz Wadhwa,70,Allahabad,Vatican City,"Psychologist, sport and exercise"

In [58]:
for repeat in range(0,10):
  print(fake.name())

Nehmat Bhatia
Vedika Vala
Vidur Sura
Shanaya Viswanathan
Ela Vasa
Armaan Srinivas
Ahana  Grewal
Amani Gokhale
Azad Yohannan
Aradhya Datta